// Imports
@import "foundation";
@import "font-awesome";

body {
  // background: #E5E5E5;
}

ul {
  list-style: none;
}

.top-bar {
  background: #FFFFFF;
  height: 3rem;

  .title-area .name a {
    color: #353535;
    font-size: 1.2rem;

  }
}

nav {
  border-bottom: 1px solid #EDEEEE;

  .top-bar-section .right {
    // border-bottom: 1px solid #cccccc;
    height: 25px;

    li {
      margin-left: 15px;
     } 
  }

  .top-bar-section li a:not(.button) {
      background: #FFFFFF !important;
      color: #84878B; 
      font-size: 0.90rem 
  }

  .top-bar-section li a:not(.button):hover {
      background: #FFFFFF !important;
      color: #09477D;   
  }

  .top-bar-section ul li.active > a {
      background: #FFFFFF !important;   
  }

  .top-bar-section ul li.active > a:hover {
      background: #FFFFFF !important;   
  }
}

.home {
  width: 30%;
  margin: auto;

  .login form {
    margin: 2em;

    input {
      border-radius: .25em;
    }
  }

  .login-button {
    width: 59%;
    margin: auto;

    button {
      border-radius: .25em;
      background-color: #DCDCDC;
    }
  }
}

.profile {
  width: 30%;
  margin: auto;

  h6 {

  }

  .profile-list {

  }

  button {
    border-radius: .25em;
    background-color: #DCDCDC;
  }

}

.pet-reg {
  width: 30%;
  margin: auto;

  h2 {

  }

  form {

    input {
      border-radius: .25em;
    }

    textarea {
      border-radius: .25em;
    }
  }

  button {
    border-radius: .25em;
    background-color: #DCDCDC;
  }
}

.map {
  width: 90%;
  margin: auto;
  border: .1em solid #EDEEEE;
  border-radius: .25em;
  margin: 2em;

  div {
    display: inline-block;
  }

  #map { 
    width: 60%;
    height: 37.500em; 
    vertical-align: top;  }

  .lost {
    width: 30%;
    height: 37.500em;
    overflow-y: scroll;

    ul {
      overflow: hidden;
    }
  }
}