// Imports
@import "foundation";
@import "font-awesome";

body {
  // background: #E5E5E5;
}

ul {
  list-style: none;
}

.top-bar {
  background: #FFFFFF;
  height: 3rem;

  .title-area .name a {
    color: #E42102;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
  }
}

nav {
  border-bottom: 1px solid #EDEEEE;

  .top-bar-section .right {
    // border-bottom: 1px solid #cccccc;
    height: 25px;

    li {
      margin-left: 15px;
     } 
  }

  .top-bar-section li a:not(.button) {
      background: #FFFFFF !important;
      color: #84878B; 
      font-size: 0.90rem;
      font-family: 'Roboto', sans-serif; 
  }

  .top-bar-section li a:not(.button):hover {
      background: #FFFFFF !important;
      color: #09477D;   
  }

  .top-bar-section ul li.active > a {
      background: #666670 !important;   
  }

  .top-bar-section ul li.active > a:hover {
      background: #666670 !important;   
  }
}

.home {
  width: 30%;
  margin: auto;

  .login form {
    margin: 2em;

    input {
      border-radius: .25em;
    }
  }

  .login-button {
    width: 59%;
    margin: auto;

    button {
      border-radius: .25em;
      background-color: #DCDCDC;
    }
  }
}

.pet-reg {
  width: 30%;
  margin: auto;

  h5 {
    color: #666670;
  }

  form {

    input {
      border-radius: .25em;
    }

    textarea {
      border-radius: .25em;
    }
  }

  button {
    border-radius: .25em;
    background-color: #DCDCDC;
  }
}

.profile {
  width: 40%;
  margin: auto;

  h5 {
    color: #666670;
  }

  .profile-list {
    border: .1em solid #EDEEEE;
    border-radius: .25em;
    overflow-y: scroll;

    ul {
      margin: 2em;
      overflow: hidden;

      li {
        img {
        width: 50%;
        height: 50%;
        border-radius: .25em;
        margin-bottom: 2em;
        }

        a {
          text-decoration: none;
          color: grey;
        }
      }

    }
  }

  .buttons {
    width: 62%;
    margin: auto;
    margin-top: 1em;

    button {
    border-radius: .25em;
    background-color: #DCDCDC;
    }
  }

}

.single {
  width: 40%;
  margin: auto;


  h5 {
    color: #666670;
  }

  .single-pet {
    border: .1em solid #EDEEEE;
    border-radius: .25em;
  }

  ul {
    margin: 2em;

    li img {
      width: 15em;
        height: 15em;
      border-radius: .25em;
      margin-bottom: 2em;
    }
  }

  .buttons-single {
    width: 42%;
    margin: auto;
    margin-top: 1em;

    button {
    border-radius: .25em;
    background-color: #DCDCDC;
    }
  }

  .button-lost {
    width: 20%;
    margin-top: auto;
    margin-top: 1em;

    button {
      border-radius: .25em;
      background-color: #E42102;
    }
  }


}

.edit {
  width: 30%;
  margin: auto;

  h5 {
    color: #666670;
  }

  form {

    input {
      border-radius: .25em;
    }

    textarea {
      border-radius: .25em;
    }
  }

  button {
    border-radius: .25em;
    background-color: #DCDCDC;
  }
}

// .lost {
//   width: 30%;
//   margin: auto;

//   h5 {
//     color: #666670;
//   }

//   form {

//     input {
//       border-radius: .25em;
//     }
//   }

//   button {
//     border-radius: .25em;
//     background-color: #E42102;
//   }
// }

.map {
  width: 80%;
  margin: auto;
  border: .1em solid #EDEEEE;
  border-radius: .25em;
  margin-top: 2em;

  .lost-map {
    display: inline;
    float: left;
    .angular-google-map-container { 
      height: 34.375em;
      width: 34.375em; 
      vertical-align: top;
    }
  }

  .lost {
    display: inline;
    float: left;
    width: 30%;
    height: 34.375em;
    overflow-y: scroll;

    ul {
      overflow: hidden;

      li {

        img {
          width: 40%;
          height: 40%;
        }
      }
    }
  }
  
}