<div class="map">
  <div class="map-container">
  
    <div class="lost-map">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options" bounds="map.bounds">

        <ui-gmap-marker ng-repeat="marker in vm.lostPets" coords="marker.coords" idkey="marker.id">

      </ui-gmap-google-map>
    </div>

    <div class="lost">
      <ul ng-repeat="pet in vm.pets" ng-show="getPets(pet.present)">
        <li><img ng-src="{{ pet.picture }}"></li>
        <li>{{ pet.name }}</li>
        <li>age {{ pet.age }}</li>
        <li>{{ pet.breed }}</li>
        <li>{{ pet.description }}</li>
        <hr>
      </ul>
    </div>

  </div>

</div>