<div class="pet-reg"> 
  <h5>Add Your Pet</h5>

<form ng-submit="vm.addPet(pet)">
  <input placeholder="Name" ng-model="pet.name">
  <input placeholder="Address" ng-model="pet.address">
  <input placeholder="Age" ng-model="pet.age">
  <input placeholder="Breed" ng-model="pet.breed">
  <textarea placeholder="Description" ng-model="pet.description" ng-maxlength="250"></textarea>     

<img ng-show="vm.pet.picture" ng-src="{{ vm.pet.picture }}">

<a class="uploadImage" ng-click="vm.showForm()"><i class="fa fa-cloud-upload"></i> Upload Image</a>

<hr>

<button ng-click="submit">Submit</button>
</form>  


</div>




     
