<div class="pet-reg"> 
  <h5>Add Your Pet</h5>

  <form ng-submit="vm.addPet(pet)">
    <input placeholder="Name" ng-model="pet.name">
    <input placeholder="Age" ng-model="pet.age">
    <input placeholder="Breed" ng-model="pet.breed">
    <textarea placeholder="Tell us about your pet" ng-model="pet.description" ng-maxlength="250"></textarea>     

    <img ng-show="vm.pet.picture" ng-src="{{ vm.pet.picture }}">

    <input type="file" id="petImage">
      
    <hr>


    <button ng-click="submit">Submit</button>
  </form>  
  


</div>




     

