<div class="profile">
  <h3>Profile</h3>

  <h5>User: {{ pets.user }}</h5>

  <ul class="profile-list" ng-repeat="pet in vm.pets | filter: { status: false } ">
    <li>Pet: {{  pet.name }}</li>
    <li>Age: {{ pet.age }}</li>
    <li>Breed: {{ pet.breed }}</li>
    <li>Description: {{ pet.description }}</li>
    <li>Status: {{ pet.present }}</li>
  </ul>

  <img ng-show="vm.pet.picture" ng-src="{{ vm.pet.picture }}">

  <button ng-click="addPet">Add Pet</button>
  <button ng-click="lostPet">Report a Lost Pet</button>

</div>