<div class="profile">
  <h5>Profile</h5>

  <ul class="profile-list" ng-repeat="pet in vm.pets">
<!--     <li>User: {{ pets.user_id }}</li>
 -->    
    <li>Pet: {{  pet.name }}</li>
    <li>Age: {{ pet.age }}</li>
    <li>Breed: {{ pet.breed }}</li>
    <li>Description: {{ pet.description }}</li>
    <li>Status: {{ pet.present }}</li>
  </ul>

  <img ng-show="vm.pet.image" ng-src="{{ vm.pet.image }}">

  <button ng-click="addPet">Add Pet</button>
  <button ng-click="lostPet">Lost Pet</button>


</div>