<div class="profile">
  <h5>Profile</h5>

  <div class="profile-list">

    <ul ng-repeat="pet in vm.pets">
      <li><img ng-src="{{ pet.picture }}"></li>
      <li>Pet - {{ pet.name }}</li>
      <li>Age - {{ pet.age }}</li>
      <li>Breed - {{ pet.breed }}</li>
      <li>Desc - {{ pet.description }}</li>
      <li>Status - {{ pet.present }}</li>
      <hr>
    </ul>

  </div>

  <div class="buttons">
    <button ng-click="addPet()">Add Pet</button>
    <button ng-click="lostPet()">Lost Pet</button>
  </div>

</div>


