<div class="single">

  <div class="single-pet">
    <ul>
      <li><img ng-src="{{ pet.picture }}"></li>
      <li>{{ pet.name }}</li>
      <li>Age - {{ pet.age }}</li>
      <li>Breed - {{ pet.breed }}</li>      
      <li>Desc - {{ pet.description }}</li>
      <li>Status - {{ pet.present }}</li>
    </ul>

  </div>

  <div class="buttons-single">
    <button ng-click="editPet(petId)">Edit</button>
    <button ng-click="deletePet(petId)">Delete</button>
  </div>
  <div class="button-lost">
    <button ng-click="lostPet(petId)">Lost</button>
  </div>

</div>