<div class="single">
  <h5>Edit</h5>

  <div class="single-pet">
    <ul>
      <li><img ng-src="{{ pet.picture }}"></li>
      <li>{{ pet.name }}</li>
      <li>Age: {{ pet.age }}</li>
      <li>Breed: {{ pet.breed }}</li>      
      <li>Desc: {{ pet.description }}</li>
      <li>Status: {{ pet.present }}</li>
    </ul>

  </div>

  <div class="buttons-single">
    <button class="edit-btn" ng-click="editPet(petId)"><a href="#/edit/{{ pet.pet_id }}">Edit</a></button>
    <button class="delete-btn"><a href="#/" ng-click="deletePet(pet.pet_id)">Delete</a></button>
  </div>
</div>