<div class="user-reg"></div>

<h3>Registration</h3>
  <hr/>
</div>  

<form ng-submit="registration"> 
 
  <div class="form-group">
    <fieldset>        
      <label>Username</label>
      <input type="text" ng-model="user.name" required>

      <label>Email</label>
      <input type="text" ng-model="user.email" required>

      <label>Password</label>
      <input type="text" ng-model="user.pwd" required>      

      <label>Zip Code</label>
      <input type="text" ng-model="user.zipcode" required>

      <label>Pet Name</label>
      <input type="text" ng-model="pet.name" required>

      <label>Pet Breed</label>
      <input type="text" ng-model="pet.breed" required


      <button>Register</button>      
    </fieldset>
  </div>
</form>

<!-- <div class="user-reg">user reg</div>

<form>
  <h3>{{vm.title}}</h3>

<ul ng-repeat="note in vm.note">
  <li>
    Name: {{note.name}}
    Email: {{note.email}}
    Website: {{note.website}}
    Comments: {{note.comment}}
  </li>
</ul>   -->